main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    /* height: 400px; */
    gap: 10px;
    padding: 20px;
    border: 1px solid rgb(152, 175, 221);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 5px;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 90%;
}

h2{
    color: var(--primary-color);
    font-weight: 900;
}

.fields{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
label{
    color:  rgb(33, 33, 33);

}
input{
    padding: 5px;
    border: 1px solid rgb(152, 175, 221);
    border-radius: 10px;
    color:rgb(33, 33, 33);
}
input:focus{
    outline: none;
    border: 1px solid rgb(85, 134, 138)
}

button{
    background-color: var(--primary-color);
    color: azure;
    padding: 5px;
    border:none;
    border-radius: 8px;
    font-size: medium;
    width: 100px;
}

.login{
    font-size: small;
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 8px;
    
}
.login a{
    color:var(--primary-color);
}
